<div>
    @if (ViewBag.ChampionsStats == null)
    {
        <div>Champions stats is not found</div>
    }
    else
    {
        <div class="flat-table">
            <table>
                <tbody>
                    <tr>
                        <th style="width: 60px;">Image</th>
                        <th>Name</th>
                        <th>Pick rate</th>
                        <th>Win rate</th>
                        <th>Ban rate</th>
                    </tr>
                    @foreach (var championStats in ViewBag.ChampionsStats)
                    {
                        var imagePath = Convert.ToString("https://localhost:5001/images/champion/" + @championStats.Name + ".png");
                        var championPickRate = Math.Round(championStats.PickRate * 100, 3).ToString() + '%';
                        var championWinRate = Math.Round(championStats.WinRate * 100, 3).ToString() + '%';
                        var championBanRate = Math.Round(championStats.BanRate * 100, 3).ToString() + '%';
                        <tr>
                            <td><img class="imageChampion" src="@imagePath" alt="@championStats.Name"/></td>
                            <td>@championStats.Name</td>
                            <td>@championPickRate</td>
                            <td>@championWinRate</td>
                            <td>@championBanRate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>